@import url("https://fonts.googleapis.com/css2?family=Bilbo&display=swap");
html,
body {
  font-family: Tajawal, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eee;
}

@font-face {
  font-family: "Tajawal";
  src: url("/fonts/Tajawal-Black.ttf");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c81d11;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}

.container {
  max-width: 550px;
  margin: auto;
  position: relative;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .navbar {
    padding: 10px;
    color: #fff;
    background: #fff;
    height: 60px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

    .logo {
      color: #200e32;
      font-weight: bold;
      font-size: 28px;
      font-family: "Bilbo", cursive;
    }

    .controls {
      display: flex;
      gap: 8px;
    }

    .controls-full-width {
      display: flex;
      gap: 8px;
      width: 100%;
      .search-input {
        width: 100%;
      }
    }
  }
}

// main content style
.content {
  padding-top: 70px; // from the header
  padding-bottom: 70px; // from the header
  height: 100%;
  background: #fff;
}

//footer style
.footer {
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  justify-content: space-evenly;
  height: 60px;
  border-top: 1px solid #eee;
  border-radius: 20px 20px 0px 0px;
  box-shadow: (0px -10px 34px rgba(0, 0, 0, 0.33));

  .icon-container {
    margin: 15px 0px;
    text-align: center;
    width: 65px;
  }
}

// Slider style
.single-slide {
  height: 300px;
  color: #fff;
  position: relative;

  .slide-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.17048322747067575) 0%,
      rgba(0, 0, 0, 0.6029762246695554) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;

    .slider-content {
      img {
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }
  }
}

.card {
  margin: 15px;
  position: relative;
}

.item-card {
  border-radius: 20px 20px 0px 0px;
  overflow: hidden;
  & + & {
    margin-top: -25px;
  }
  .card-title {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .ant-card-body {
    padding: 0;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .ant-card-head {
    padding: 10px 10px;
    color: #fff;
    border: none;
    background-image: linear-gradient(to bottom, #000, transparent);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 50;
  }

  .ant-card-head-title {
    padding: 0;
  }

  .card-footer {
    background-color: transparent;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 60px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .item-carousel {
    .item-single-slide {
      position: relative;
      height: 300px;

      .filter {
        filter: grayscale(100%);
        object-fit: contain;
      }

      .image-counter {
        position: absolute;
        bottom: 50px;
        left: 10px;
        padding: 5px 10px;
        background-color: #00000075;
        color: #eee;
        border-radius: 3px;
        font-size: large;
      }

      .item-image-overlay {
        display: flex !important;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        img {
          height: 300px;
          object-fit: contain;
          box-shadow: 0px 0px 30px 15px #3a3a3a;
        }
      }
    }
  }
  .card-footer {
    .item-card-desc {
      width: 100%;
      margin: auto 10px;
      a {
        display: flex;
      }
    }

    .like-button {
      text-align: center;
      padding: 5px;
      width: fit-content;
      outline: none;
      border-radius: 5px;
    }
  }
}

.round-image {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.store-info-bar {
  padding: 6px;
  margin-top: -10px;
  background-color: #b85345;
  color: #fff;
}

.default-button {
  padding: 3px 5px;
  margin-left: 5px;
  border: 2px solid #b30000;
  color: #3a3a3a;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.default-button:hover {
  background-color: #f8a4a4;
}
.default-button:active {
  background-color: #b30000;
  color: #fff;
}

.info-container {
  width: 100%;
  position: relative;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  padding: 30px;

  h3 {
    background-color: #c4c4c4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    &.Blue {
      background-color: #234ee5;
      color: #fff;
    }
    &.Pink {
      background-color: rgba(229, 35, 35, 0.55);
      color: #fff;
    }
    svg {
      margin-right: 10px;
    }
  }
}
